@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
  font-family: Arial Narrow, san serif;
}

.footnote {
  position: fixed;
  bottom: .5rem;
  left: .5rem;
  z-index: 100;
}

.archive{
  position: fixed;
  bottom: .5rem;
  right: .5rem;
  z-index: 100;
}

#slide {
  font-family: 'EB Garamond',serif;
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  line-height: 4vw;
}

#slide-text {
  width: 67.5vw;
  overflow: scroll;
  position: relative;
  margin-top: 10px;
  font-size: 3.5vw;
  text-align: left;
  padding: 10px;
}

/*#slide:hover > #slide-text {
  color: red;
}*/

.title{
  font-size: 3.5vw;
}

i{
  font-size: 3vw;
  font-weight: 600;
}

h2{
  font-weight: 500;
  font-size: 3.5vw;
}

h3{
  font-size: 3.5vw;
  font-weight: 400;
}

h4{
  font-size: 2vw;
  font-weight: 200;
}


#img{
  position: fixed;
  z-index: -1000;
  flex-direction: center;
  width: 75vw;
  opacity: .5;
}
