@font-face {
	font-family: glockgrotesque;
	src: url(fonts/GlockGrotesque2-Medium.otf);
}

@font-face{
	font-family: craftworksans-regular;
	src: url(fonts/CraftworkSans-Regular.ttf);
}

@font-face{
	font-family: craftworksans-medium;
	src: url(fonts/CraftworkSans-Medium.ttf);
}

@font-face{
	font-family: craftworksans-bold;
	src: url(fonts/CraftworkSans-Bold.ttf);
}

body{
	align-content: center;
	background-color: #FAF8EE;
	color: #2C2B2B;
	font-size: 3.8vw;
	font-family: craftworksans-regular,helvetica,sans-serif;
}

div{
	margin-top: .5rem;
	margin-bottom: .5rem;
	padding: 2rem;
	align-self:center;
}

img{
  	width: 75vw;
}

.block{
	border: .25vw solid #005BBB;
	border-radius: 10px;
}

.box{
	text-align: center;
	height: 100px;
	border: 1px solid #2C6DF0 0%;
	border-radius: 10px;
}

#center{
	align-content: center;
	text-align: center;
}

a{
	padding: .5rem;
	color: #2c2b2b;
	text-decoration: none;
}

a:hover{
	color: #FFD500;
}

b{
	font-family:craftworksans-medium;
	font-weight: 400;
}

.container{
	display:inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	border: 2.5px solid #005BBB;
	border-radius: 2vw;
	background-color: #faf8ee;
	padding: 1.5vw;
	transition-property: background;
    transition-duration: .5s;
    transition-timing-function: linear;

}

.container:hover{
	color: #FFD500;
	font-size: 30px;
	border-radius: 50px;
	background-color: #005bbb;
}

.text{
	width:90%;
	margin-top: 1rem;
	font-family: glockgrotesque, ARIAL, sans-serif;
	font-size: 2vw;
	border: 2.5px solid #005BBB;
	border-radius: 10px;
	background-color: #faf8ee;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.text:hover{
	width:75%;
	margin-top: 1rem;
	font-size: 3vw;
	color: #FFD500;
	border-radius: 50px;
	padding: 2.5rem;
	background-color: #005bbb;
}

.bg{
	font-size: 40px;
	color:#2C2B2B ;
	transition-duration: .5s;
    transition-timing-function: linear;
}

.bg:hover{
	font-size: 50px;
	color: #FFD500;
	background-color: #005bbb;
}

#padding-top {
	padding-top: 1rem;
}

@media screen and (max-width: 500px){
  body{
  	font-size:20px;
  }

  .block{
  	color: #FFD500;
	background-color: #005bbb;
	align-items: center;
	justify-content: center;
  }

  .container{
	display:inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	border: 2.5px solid #005BBB;
	border-radius: 50px;
	background-color: #faf8ee;
	padding: .5rem;
	transition-property: background;
    transition-duration: .5s;
    transition-timing-function: linear;
  } 

  .text{
	width:90%;
	margin-top: 1rem;
	font-family: glockgrotesque;
	font-size: 20px;
	border: 1.5px solid #FFD500;
	border-radius: 10px;
	background-color: #005bbb;
  }

  .text:hover{
	width:90%;
	margin-top: 1rem;
	font-family: glockgrotesque;
	font-size: 20px;
	border: 1.5px solid #FFD500;
	border-radius: 10px;
	background-color: #005bbb;
  }

  }

 }
