@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body{
	font-family: helvatica, sans-serif;
	padding: 2rem;
	background-color: #e6e6e6;
}

div{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;	
}

span{
	font-family: 'EB Garamond', serif;
	font-size: 7.5vw;
	line-height: 7.5vw;
}

span:hover {
	font-style: italic;
	color: lightseagreen;
}

img{
/*	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;*/
	height: 200px;
	padding: .125rem;

}

@media print{
	span{
		display: none;
	}

	label{
		display: none;
	}

	input{
		display: none;
	}

	body{
/*		background-color: #808080;*/
		width: 100vw;
		padding: 0;
		margin: 2rem;
		background-color: white;
	}
s
	img{
		display: inline-flex;
		height: 75px;
		padding: 6px;
/*		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 1.5px;
		padding-right: 1.5px;*/
	}

}